{% extends 'base.html'%}
{% block content%}
<div class="container">

  <h3>News Headlines</h3>
  
 {% for article_row in articles_list | batch(4)%}

 <div class="row">

    {% for article in article_row %}

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="{{articles.url}}" target="_blank">
          <img src="{{articles.image}}" alt="{{articles.title}}" class="img-responsive" styles="height:30px">
        </a>

        <div class="caption">
          <h4><a href="{{articles.url}}" target="_blank">{{articles.title |truncate(35)}}</a></h4>
          <p>{{articles.description | truncate(80)}}</p>
          <a href="{{articles.url}}" target="_blank"> Read More</a>
        </div>

        <div class="footer">
          Published at: {{articles.date}}
        </div>

      </div>

    </div>

    {% endfor %}

  </div>

  {% endfor %}


</div>
{%endblock%}