{% extends 'base.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% endblock %}
</head>
<body>
  {% block content%}
  <div class="container">
  
    <h3 class="text-center" style="font-family: 'Times New Roman', Times, serif; font-size: 30px;">Top Story Headlines</h3>
    <hr>
    {% for article_row in articles | batch(4)%}
  
    <div class="row">
  
      {% for article in article_row %}
  
      <div class="col-md-3">
        <div class="thumbnail" >
          
  
          <div class="caption" style="color: white;background-color: teal;" >
            <h4><a href="{{article.url}}" target="_blank" style="color: white; font-family: 'Times New Roman', Times, serif; text-transform: uppercase;">{{article.title |truncate(45)}}</a></h4>
            <p>{{article.description | truncate(80)}}</p>
            <a href="{{article.url}}" target="_blank" style="color: white;"> Read More</a>
          </div>
  
          
          <a href="{{article.url}}" target="_blank">
            <img src="{{article.image}}" alt="{{article.title}}" class="img-responsive" styles="height:30px">
          </a>
          <div class="footer" >
            Published at: {{article.date}}
          </div>
  
        </div>
  
      </div>
  
      {% endfor %}
  
    </div>
  
    {% endfor %}
  
  </div>  
  {% endblock%}

</body>  
