{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    
    <title>The Daily News</title>
    {% endif %}
</head>
<body>
    <!-- Technology news section -->
    <h3>Technology news</h3>
    <ul>
        {{ macro.displaySourcesList(technology)}}
    </ul>
    <h3>Business news</h3>
    <ul>
        {{ macro.displaySourcesList(business)}}
    </ul>
    <h3>Sports news</h3>
    <ul>
        {{ macro.displaySourcesList(sports)}}
    </ul>
    
    
</body>
</html>