{% macro displaySourcesList(sources_list) %}
    {% for source_row in sources_list | batch(4)%}

    <div class="row">
    {% for source in source_row %}
    <div class="col-md-3">

       
        <div class="panel panel-default" >
            <div class="panel-heading" style="background-color: teal; ">
              <a href="/source/{{source.id}}" style="color: white; font-size: 17px;">
                {{ source.name}}
              </a>
            </div>
            <div class="panel-body" style="background-color:#C4C4C4;">
              <p>
                {{ source.description |truncate(100)}}
      
              </p>
              <a href="/source/{{source.id}}" class="btn btn-info btn-sm">View Article</a>
            </div>
      
      
        </div>
    </div>
    {% endfor %}    
    </div>
    
    {% endfor %}    

{% endmacro %}    